<app-page-header
  title="customers"
  subtitle="a customer page"
  icon="fas fa-users"
></app-page-header>
<table
  *ngIf="contacts.length; else noContacts"
  class="table table-striped container mt-4"
>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Birthday</th>
      <th scope="col">Age</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ contact.id }}</td>
      <td>{{ contact.firstName + " " + contacts[0].lastName }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.phone }}</td>
      <td>
        {{ contact.birthDay | date: "mediumDate" }}
      </td>
      <td>{{ contact.age }}</td>
      <td>
        {{ this.contact.address?.city }}
        {{ this.contact.address?.street }}
        {{ this.contact.address?.houseNumber }}
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noContacts>
  <div>
    {{ "opss... no contacts where found in the database!" | paragraphCapital }}
  </div>
</ng-template>
